<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hoyy.shop.dao.LoginDao">

	<insert id="insertLogin" parameterType="com.hoyy.shop.dao.LoginDao">
    	insert into login values (#{id}, #{password})
    </insert>
       
</mapper>